{% include 'recipes/partials/head.html' %}
<body>
    <header class="main-header-container"> <!--um container grande, que pega a largura inteira-->
        <div class="main-header container"> <!--um container menor, vai ser fixado por uma largura-->
            <h1>
                <a class="main-logo" href="/"> <!--um link que aponta pra home-->
                    <i class="fas fa-utensils main-logo-icon"></i> <!--um icone-->
                    <span class="main-logo-text">Recipes</span> <!--um texto-->
                </a>
            </h1>
        </div>
    </header>
</body>
</html>